include mixins

extends layout

block content
	body(style="padding-bottom:10rem; padding-top:10rem; padding-right:10rem; padding-left:10rem; ")
			.container
				script( src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
				script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')

				.dropdown
					+nav("Sniffit", "dropdown_menu")
						+nav_item("/profile") Profile
						+nav_item("/") Logout
						+nav_item("/add_tag") Add New Tag
						+nav_item_dropdown("#")(label = "Rooms")
							+nav_item("#") Living Room
							+nav_item("#") Bedroom
							+nav_item("#") Bathroom 

				.bs-example
					table.table.table-hover
						thead
							tr
								th #{heading[0]}
								th #{heading[1]}
								th #{heading[2]}
								th #{heading[3]}                  
						tbody
							tr
								each val,index in data_rfidTags
									td #{val.tagId}      
									td #{val.reference}
									td #{val.location}
									td #{val.readerId}
									tr

