extends layout

block content

	.bs-example
		table.table.table-hover
			thead
				tr
					th #{heading[0]}
					th #{heading[1]}              
			tbody
				tr
					each val,index in snapdragon_data
						td #{val.roomId}      
						td #{val.ipAddress}

						td
							.button-delete
								form.form-horizontal(id='new-tag-form', method='POST', action='/snapdragons')
									input(type='hidden', name='_csrf', value=_csrf)
									input(type='hidden', name='snapdragon_id', value=val._id)
									.form-group
										button.btn.btn-danger(type='submit') Delete

									// - input(value='Delete', type='submit')
						td
							.button-edit
								form.form-horizontal(id='new-snapdragon-form', method='POST', action='/snapdragons/edit_snapdragon_form_in')
									input(type='hidden', name='_csrf', value=_csrf)
									input(type='hidden', name='snapdragon_id', value=val._id)
									.form-group
											button.btn.btn-primary(type='submit') Edit 

									// - input(value='Edit', type='submit')
									// - a.btn.btn-default(role='submit') Edit


						tr
	.add_new_tag
		a.btn.btn-default(href='/snapdragons/new_snapdragon_form', role='button') Add New Snap Dragon »
